@model IEnumerable<POS.Models.Stock>

@{
    ViewData["Title"] = "Stock";
}

<h1 class="text-primary-emphasis text-lg-center">Stock</h1>

<div class="table-responsive-xl">
    <table class="table table-striped table-bordered border-emphasis">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoBarra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto)
                </th>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.CodigoBarra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td class="text-info" style="text-align: center">
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td class="text-lg-end">
                        <a class="btn btn-secondary" style="text-decoration:none" asp-action="Edit" asp-route-id="@item.StockId">Editar</a>
                        <a class="btn btn-info" style="text-decoration:none" asp-action="Details" asp-route-id="@item.StockId">Detalles</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
