@model IEnumerable<POS.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Buscar Producto:</h1>

<form asp-action="Index" method="get">
    <div class="form-group">
        <strong><label for="searchCategory">Categoría</label></strong>
        <input type="text" class="form-control" id="BuscarCategoria" name="BuscarCategoria" value="@Context.Request.Query["BuscarCategoria"]" placeholder="Nombre de la Categoría" />
    </div>

    <div class="form-group">
        <strong><label for="searchBarcode">Código de Barras</label></strong>
        <input type="text" class="form-control" id="BuscarCodigoBarra" name="BuscarCodigoBarra" value="@Context.Request.Query["BuscarCodigoBarra"]" placeholder="Código de Barras" />
    </div>

    <div class="form-group">
        <strong><label for="searchName">Nombre del Producto</label></strong>
        <input type="text" class="form-control" id="BuscarNombre" name="BuscarNombre" value="@Context.Request.Query["BuscarNombre"]" placeholder="Nombre del Producto" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<hr/>

@{
    Html.RenderPartialAsync("_listaIndexProductos", Model);
}



@* <h1>Productos</h1>

<p>
    <a style="text-decoration:none" asp-action="Create">Ingresar Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoBarra)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.PesoNeto)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarra)
            </td>
                <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.PesoNeto)
                @FuncionesProductosViews.DevolverPesoSegunCategoria(item.Categoria.Descripcion)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
            </td>
            <td>
                <a style="text-decoration:none" asp-action="Edit" asp-route-id="@item.ProductoId">Editar</a> |
                <a style="text-decoration:none" asp-action="Details" asp-route-id="@item.ProductoId">Detalles</a> |
                <a style="text-decoration:none" asp-action="Delete" asp-route-id="@item.ProductoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
