@model IEnumerable<ListaProductoViewModel>


@if (Model != null && Model.Count() > 0)
{
    <h3>Lista de Productos</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Código de Barra</th>
                <th>Nombre</th>
                <th>Peso Neto</th>
                <th>Precio Unitario</th>
                <th class="text-start">Cantidad</th>
                <th>SubTotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                <tr>
                    <td id="codigoBarra">@producto.CodigoBarra</td>
                    <td>@producto.Nombre</td>
                    <td>
                        @Html.DisplayFor(modelItem => producto.PesoNeto)
                        @FuncionesProductosViews.DevolverPesoSegunCategoria(producto.PesoNeto.ToString())
                    </td>
                    <td>@producto.PrecioUnitario.ToString()</td>
                    <td style="text-align:center">
                        <span class="me-3">@producto.Cantidad</span>
                        <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal" 
                                data-bs-target="#exampleModal" 
                                asp-action="EditarCantidad"       
                                asp-route-id="@producto.CodigoBarra"
                                onclick="setCambiarCantidad('@producto.CodigoBarra','@producto.Cantidad','@producto.Nombre','@producto.PesoNeto')">
                            Modificar
                        </button>
                    </td>
                    <td >@producto.Subtotal.ToString()</td>
                    <td>
                        <form method="post" asp-action="EliminarProductoDeLista" asp-route-codigoBarra="@producto.CodigoBarra">
                            <button type="submit" class="btn btn-danger" style="text-decoration:none">
                                Eliminar
                            </button>
                        </form>
                    </td>

                </tr>

                
            }
        </tbody>
    </table>

    <h4 class="text-end" >
        Total de la Venta:
        <strong>
            @Model.Sum(p => p.Subtotal).ToString()
        </strong>
        <form asp-action="FinalizarCompra" method="post">
            <button type="submit" class="btn btn-success">Finalizar Compra</button>
        </form>
    </h4>

    <hr />

    <hr />

    //MODAL
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <h1 class="modal-title fs-3" id="exampleModalLabel">Ajustar Cantidad:</h1> 
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                </div>
                <div id="nombreProducto" class="fw-bold fs-2 text-lg-center">
                    
                </div>
                <form asp-action="EditarCantidad" method="post">
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" id="codigoBarraInput" name="codigoBarra"/>

                        <label class="control-label">Cantidad</label>
                        <input id="cantidadModificar" class="form-control" type="number" min="1" name="cantidad" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
else
{
    <p>No hay productos agregados.</p>
}

<script>
  function setCambiarCantidad(codigoBarra, cantidad, nombre, pesoNeto){
      document.getElementById('codigoBarraInput').value = codigoBarra;
      
      document.getElementById('cantidadModificar').value = cantidad;

      document.getElementById('nombreProducto').innerText = nombre;

      document.getElementById('pesoNetoText').innerText = pesoNeto;
  }

  function setElimiarProducto(codigoBarra){
      document.getElementById('codigoBarra').value = codigoBarra
  }
  
</script>

@* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> *@


<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> *@

<!-- Modal -->
@* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h1 class="modal-title fs-5" id="exampleModalLabel">Ajustar Cantidad</h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form  asp-action="EditarCantidad" method="post">
                <div class="modal-body">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div> 

                    <input type=""  id="codigoBarra" name="codigoBarra"/>

                    <label class="control-label">Cantidad</label>
                    <input id="cantidadModificar" class="form-control" type="number" min="1" name="cantidad"/>
                    <span class="text-danger"></span>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>



        </div>
    </div>
</div> *@




