@model IEnumerable<POS.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-success">Registro de Ventas</h1>


<table class="table table-striped border border-succes flex-row">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td class="text-success">
                    <b>@Html.DisplayFor(modelItem => item.Total)</b>
            </td>
            <td class="text-lg-end">    
                <a class="btn btn-info mb-2" asp-action="Details" asp-route-id="@item.VentaId">Detalles</a>
                <a class="btn btn-danger mb-2" asp-action="Delete" asp-route-id="@item.VentaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
